<h1>Editing blog</h1>

<%= render 'form', blog: @blog %>

<button type="button" class="btn btn-default">
  <%= link_to 'Show', @blog %></button>

<button type="button" class="btn btn-default">
  <%= link_to 'Back', blogs_path %></button>
